a {
    text-decoration: none;
}

/*.conditions_content {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}*/

ul li {
    display: inline-block;
}

.conditions_list {
    padding: 20px;
}