body {
    font-family: Arial, Helvetica, sans-serif;
}

.index_logo {
    margin: 20px 0px 0px 20px;
    max-width: 300px;
    position: fixed;
}

.index_logo img {
    max-width: 100%;
}

.index_container {
    display: flex;
    flex-direction: row;
}

.patient_container {
    width: 50%;
    height: 100vh;
    background-image: url("/images/index/patient-log-in.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.index_container .patient_container .index_button_container_user a {
    color: black;
    text-decoration: none;
}

.index_container .physician_container .index_button_container_physician a {
    color: white;
    text-decoration: none;
}

.physician_container {
    width: 50%;
    height: 100vh;
    background-image: url("/images/index/physician-log-in.jpg");
    background-position: top center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
}

.index_button_container_user {
    margin: 0px 0px 50px 0px;
    padding: 20px 0px 20px 0px;
    min-width: 70%;
    background-color: #f4c902;
    text-align: center;
}

.index_button_container_physician {
    margin: 0px 0px 50px 0px;
    padding: 20px 0px 20px 0px;
    min-width: 70%;
    background-color: #042693;
    text-align: center;
}

@media screen 
  and (max-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {

    .index_container {
        display: flex;
        flex-direction: column;
    }


    .patient_container {
        height: 50vh;
        width: 100%;
    }

    .physician_container {
        height: 50vh;
        width: 100%;
        background-position: center;
        justify-content: center;
        align-items: center;
    }

    .index_button_container_physician {
        margin: 20px 0px 20px 0px;
    }
}