body {
    height: 100%;
    width: 100%;
    background-color: #042693;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: light;
}

.intro_bar {
    height: 200px;
    background-color: white;
    background-image: url("/images/index/patient-log-in.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    font-weight: 500;
    font-size: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 14px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.intro_bar_dr {
    height: 200px;
    background-color: white;
    background-image: url("/images/index/physician-log-in.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    font-weight: 500;
    font-size: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 14px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page_content {
    background-color: white;
    padding: 20px;
    margin: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.wrapper {
    display: grid;
    grid-template-columns: 35% 65%;
}

.navigation {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #042693;
}

.options_menu {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

.content {
    grid-column-start: 2;
    grid-column-end: 3;
    min-height: 100vh;
    max-height: 100%;
}

.logo img {
    max-width: 90%;
    margin-bottom: 20px;
}

.index_buttons {
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding: 10px 0px 10px 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.index_buttons:hover {
    padding-left: 10px;
    background-color: #f4c902;
    color: black;
}

.content {
    height: 100%;
    border-radius: 15px 0px 0px 15px;
    background-color: #e6e6e6;
}

.branding {
    text-align: center;
    width: 100%;
    font-size: 10px;
    color: darkgray;
    align-self: flex-end;
}

h1.title_shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

h2.title_shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.menu_button {
    position: fixed;
    top: 15px;
    right: 15px;
    font-size: 20px;
    border-radius: 50%;
    color: white;
    padding: 10px;
    background-color: #042693;
    visibility: hidden;
}

.menu_button:hover {
    cursor: pointer;
}

@media screen 
  and (max-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
    body {
    }

    .wrapper {
        display: grid;
        grid-template-columns: 100% 00%;
        z-index: 1;
    }

    .wrapper.active {
        display: grid;
        grid-template-columns: 20% 80%;
        z-index: -1;
    }

    .account_buttons.active {
        overflow: hidden;
    }

    .content {
        overflow-x: hidden;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    .navigation {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 3;
        background-color: #042693;
    }

    .menu_button {
        visibility: visible;
    }

  }