body {
  height: 100%;
  width: 100%;
  background-color: #042693;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: light;
}

.intro_bar {
  height: 200px;
  background-color: white;
  background-image: url("/images/index/patient-log-in.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  font-weight: 500;
  font-size: 20px;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 14px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro_bar_dr {
  height: 200px;
  background-color: white;
  background-image: url("/images/index/physician-log-in.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  font-weight: 500;
  font-size: 20px;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 14px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page_content {
  background-color: white;
  padding: 20px;
  margin: 5px;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.wrapper {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35% 65%;
      grid-template-columns: 35% 65%;
}

.navigation {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  background-color: #042693;
}

.options_menu {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  min-height: 100vh;
}

.logo img {
  max-width: 90%;
  margin-bottom: 20px;
}

.index_buttons {
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding: 10px 0px 10px 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.index_buttons:hover {
  padding-left: 10px;
  background-color: #f4c902;
  color: black;
}

.content {
  height: 100%;
  border-radius: 15px 0px 0px 15px;
  background-color: #e6e6e6;
}

.branding {
  text-align: center;
  width: 100%;
  font-size: 10px;
  color: darkgray;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

h1.title_shadow {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

h2.title_shadow {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
/*# sourceMappingURL=layout.css.map */