body {
    height: 100vh;
}

.login_signup_container {
    background-image: url("/images/index/patient-log-in.jpg");
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
}

.login_signup_container_physician {
    background-image: url("/images/index/physician-log-in.jpg");
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
}

.login_signup {
    margin-bottom: 10%;
    padding: 25px;
    width: 75%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.login_signup form p .signup_login_input {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 75%;
    height: 30px;
    max-width: 500px;
}

.login_signup .purple_logo img {
    max-width: 400px;
    width: 75%;
}

.purple_logo {
    margin-bottom: 10px;
}

.submit_button_user {
    border: 0;
    margin-top: 10px;
    height: 35px;
    width: 76%;
    background-color: #f4c902;
    max-width: 510px;
}

.submit_button_physician {
    border: 0;
    margin-top: 10px;
    height: 35px;
    width: 76%;
    background-color: #042693;
    max-width: 510px;
    color: white;
}

.login_signup_container .login_signup form p label.signup_login_labels {
    text-align: left;
}

