<div class="intro_bar">
    <div class="intro_title">
        <h2 class="title_shadow">Add a Physician</h2>
        <% if @user.doctor != 0 && @user.doctor != nil %>
            <div class="">Current Physician: <%= @doctor.capitalize %> </div>
        <% end %>
    </div>
</div>



<div class="page_content">
    <div>Available Physicians:</div>
    <% Doctor.all.each do |dr| %>
        <div>
        <form action="/add_doctor" method="POST">
            <input id="hidden" type="hidden" name="_method" value="PATCH">
            <input id="hidden" type="text" name="doctor" value="<%= dr.id %>" style="display: none;">
            <input class="btn btn-primary" type="submit" value="<%= dr.username.capitalize %>">
        </form>
        </div>
    <% end %>
</div>

