<div class="intro_bar">
    <div class="intro_title">
        <h1>Welcome <%= @doctor.username.capitalize %></h1>

        <h2>Physician Dashboard:</h2>
    </div>
</div>

<% @patients.each do |patient| %>
    <div class="page_content">
        <%= patient.username.capitalize %>
        <%= line_chart patient.posts.group(:condition).group_by_day(:created_at).sum(:rating) %>
    </div>
<% end %>