<div class="intro_bar"><h2>View by Condition</h2></div>

<ul>
<% @conditions.each do |condition| %>
    <li class="page_content">
            <a href='/condition/<%= condition %>'><%= condition.capitalize %></a>
    </li>
<% end %>
</ul>