<h2>Add a Post</h2>
<form action="/create_post" method="POST">
  <p>Condition: <input type="text" name="condition"></p>
  <p>Rating: <input type="text" name="rating"></p>
  <p>Comments: <input type="text" name="comments"></p>
  <input class="btn btn-primary" type="submit" value="submit">
</form>