<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>Medigrowth</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/account.css" />
    <link rel="stylesheet" href="/stylesheets/reset.css" />
    <link rel="stylesheet" href="/stylesheets/layout.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@800&display=swap" rel="stylesheet">
    <script src="/javascripts/chartkick.js"></script>
    <script src="/javascripts/Chart.bundle.js"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="/javascripts/highcharts.js"></script>

  </head>
  <body>
    <div class="wrapper">
      <div class="navigation">

        <div class="options_menu">
        <div class="logo"><img src="/images/logo.png" alt="Meditracker Logo"></div>
          <div class="outer_button">
                  <a href="/account"><div class="index_buttons"><i class="fas fa-clinic-medical"></i> Dashboard</div></a>
          </div>
          <div><hr></div>
          <div class="outer_button">
              <a href="/create_post"><div class="index_buttons"><i class="fas fa-file-medical"></i>  New Entry</div></a>
          </div>
          <div><hr></div>
          <div class="outer_button">
              <a href="/condition"><div class="index_buttons"><i class="fas fa-book-medical"></i>  View by Condition</div></a>
          </div>
          <div><hr></div>
          <div class="outer_button">
              <a href="/progress"><div class="index_buttons"><i class="fas fa-chart-line"></i>  Progress</div></a>
          </div>
          <div><hr></div>
          <div class="outer_button">
              <a href="/add_doctor"><div class="index_buttons"><i class="fas fa-user-md"></i>  Add Doctor</div></a>
          </div>
          <div><hr></div>
          <div class="outer_button">
            <a href="/logout"><div class="index_buttons"><i class="fas fa-sign-out-alt"></i>  Log Out</div></a>
          </div>
        </div>
      </div>

      <div class="content">
        <%= yield %>
      </div>
      <footer class="branding">
        <small>&copy; 2021 <strong>Medigrowth</strong></small>
      </footer>

    </div>


    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>
